<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
    </head>
    <body>
        <form method="GET">
            <div>
                <label for="city"></label>
                <input type="text" id="city" value="{{ request.GET.city }}" placeholder="City..." name="city"/>
            </div>
            <input type="submit" value="Submit"/>
        </form>
        {% if result %}
            <h3>{{ result.location }}</h3>
            <h3>{{ result.temp }} <span>&#8451;</span></h3>
            <h3>{{ result.description }}</h3>
            <img src="{{ result.d0_svg }}" alt="today">
            <h3>{{ result.humidity }}</h3>
            <h3>{{ result.wind }}</h3>
        {% endif %}
    </body>
</html>